*.opensdf
*.log
*.sdf
*.suo
*\Logs
/Saved/
/Intermediate/
/Binaries/
/Build/
/DerivedDataCache/
.vs/
Content/Character/Animations/FirstPerson_AnimBP.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_Screen.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/Character/Materials/MaterialLayers/ML_SoftMetal_UE4.uasset
Content/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige_LOGO.uasset
Content/Character/Materials/MaterialLayers/ML_Plastic_Shiny_Beige.uasset
Content/Character/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/Character/Animations/FirstPerson_Run.uasset
Content/Character/Animations/FirstPerson_JumpStart.uasset
Content/Character/Animations/FirstPerson_JumpLoop.uasset
Content/Character/Animations/FirstPerson_JumpEnd.uasset
Content/Character/Animations/FirstPerson_Idle.uasset
Content/Character/Animations/FirstPerson_Fire.uasset
Content/Character/Animations/FirstPersonFire_Montage.uasset
Content/Character/Textures/UE4_Mannequin_MAT_MASKA.uasset
Content/Character/Textures/UE4_LOGO_CARD.uasset
Content/Character/Mesh/SK_Mannequin_Arms_Skeleton.uasset
Content/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/Character/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/Character/Materials/MaterialLayers/T_ML_Aluminum01.uasset
Content/FirstPerson/FPWeapon/Mesh/SK_FPGun_PhysicsAsset.uasset
Content/FirstPerson/FPWeapon/Mesh/SK_FPGun.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Rubber_Blue_01_N.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_Rubber_Blue_01_D.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/ML_GlossyBlack_Latex_UE4.uasset
Content/FirstPerson/FPWeapon/Materials/M_FPGun.uasset
Content/Character/Textures/UE4_Mannequin__normals.uasset
Content/FirstPerson/FirstPersonCharacter.uasset
Content/FirstPerson/FPWeapon/Textures/T_FPGun_N.uasset
Content/FirstPerson/FPWeapon/Textures/T_FPGun_M.uasset
Content/FirstPerson/FPWeapon/Mesh/SK_FPGun_Skeleton.uasset
Content/Character/Mesh/SK_Mannequin_Arms_PhysicsAsset.uasset
Content/Character/Mesh/SK_Mannequin_Arms.uasset
Content/Character/Materials/MaterialLayers/T_ML_Aluminum01_N.uasset
Content/FirstPerson/FirstPersonProjectile.uasset
Content/FirstPerson/FPWeapon/Materials/MaterialLayers/T_ML_FineRubber.uasset
Content/Widgets/Textures/FirstPersonCrosshair.uasset
Content/Meshes/TemplateFloor.uasset
Content/Meshes/Projectile/FirstPersonProjectileMesh.uasset
Content/Meshes/Projectile/FirstPersonProjectileMaterial.uasset
Content/Meshes/Projectile/CubeMaterialOverride.uasset
Content/Meshes/Projectile/BaseMaterial.uasset
Content/Meshes/CubeMaterial.uasset
Content/Meshes/1M_Cube_Chamfer.uasset
Content/Meshes/1M_Cube.uasset
Content/Maps/FirstPersonExampleMap_BuiltData.uasset
Content/Character/FirstPersonCharacter.uasset
Content/Character/Hand/animation/
